@charset "UTF-8";
/* =Reset
-------------------------------------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,500italic,500,400italic,300italic,300,100italic,100);
@import url(http://fonts.googleapis.com/css?family=Alegreya:400,900italic,900,700italic,700,400italic);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

html {
  font-size: 62.5%;
  /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
  overflow-y: scroll;
  /* Keeps page centred in all browsers regardless of content height */
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */ }

body {
  background: #fff; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block; }

ol, ul {
  list-style: none; }

table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  font-weight: normal;
  text-align: left; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

a:focus {
  outline: none; }

a:hover,
a:active {
  /* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
  outline: 0; }

a img {
  border: 0; }

/* Alignment */
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto; }

/* Text meant only for screen readers */
.assistive-text {
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important; }

/* =Menu
----------------------------------------------- */
.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%; }

.main-navigation ul {
  list-style: none;
  margin: 0;
  padding-left: 0; }

.main-navigation li {
  float: left;
  position: relative; }

.main-navigation a {
  display: block;
  text-decoration: none; }

.main-navigation ul ul {
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  display: none;
  float: left;
  position: absolute;
  top: 1.5em;
  left: 0;
  z-index: 99999; }

.main-navigation ul ul ul {
  left: 100%;
  top: 0; }

.main-navigation ul ul a {
  width: 200px; }

.main-navigation ul li:hover > ul {
  display: block; }

/* Small menu */
.menu-toggle {
  cursor: pointer; }

.main-small-navigation .menu {
  display: none; }

/* =Content
----------------------------------------------- */
.hentry {
  margin: 0 0 1.5em; }

.entry-meta {
  clear: both; }

.byline {
  display: none; }

.single .byline,
.group-blog .byline {
  display: inline; }

.entry-content,
.entry-summary {
  margin: 1.5em 0 0; }

.page-links {
  clear: both;
  margin: 0 0 1.5em; }

/* =Asides
----------------------------------------------- */
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none; }

/* =Media
----------------------------------------------- */
.site-header img,
.entry-content img,
.comment-content img,
.widget img {
  max-width: 100%;
  /* Fluid images for posts, comments, and widgets */ }

.site-header img,
.entry-content img,
img[class*="align"],
img[class*="wp-image-"] {
  height: auto;
  /* Make sure images with WordPress-added height and width attributes are scaled correctly */ }

.site-header img,
.entry-content img,
img.size-full {
  max-width: 100%;
  width: auto;
  /* Prevent stretching of full-size images with height and width attributes in IE8 */ }

.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

.wp-caption {
  border: 1px solid #ccc;
  max-width: 100%; }

.wp-caption.aligncenter,
.wp-caption.alignleft,
.wp-caption.alignright {
  margin-bottom: 1.5em; }

.wp-caption img {
  display: block;
  margin: 1.2% auto 0;
  max-width: 98%; }

.wp-caption-text {
  text-align: center; }

.wp-caption .wp-caption-text {
  margin: 0.8075em 0; }

.site-content .gallery {
  margin-bottom: 1.5em; }

.site-content .gallery a img {
  border: none;
  height: auto;
  max-width: 90%; }

.site-content .gallery dd {
  margin: 0; }

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
  max-width: 100%; }

/* =Navigation
----------------------------------------------- */
.site-content .site-navigation {
  margin: 0 0 1.5em;
  overflow: hidden; }

.site-content .nav-previous {
  float: left;
  width: 50%; }

.site-content .nav-next {
  float: right;
  text-align: right;
  width: 50%; }

/* =Comments
----------------------------------------------- */
/* =Widgets
----------------------------------------------- */
.widget {
  margin: 0 0 1.5em; }

/* Search widget */
#searchsubmit {
  display: none; }

body {
  font: normal 400 19px/1.8 "Roboto", Helvetica, "Helvetica Neue", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  display: block; }

h1 {
  font: normal 700 2em/1 "Roboto", Helvetica, "Helvetica Neue", sans-serif;
  margin-bottom: .5em; }

h2 {
  font: normal 700 1.5em/1 "Roboto", Helvetica, "Helvetica Neue", sans-serif;
  margin-bottom: .5em; }

h3 {
  font: normal 700 1.25em/1.5 "Roboto", Helvetica, "Helvetica Neue", sans-serif;
  margin-bottom: .5em; }

h4 {
  font: italic 700 1.25em/1.8 "Alegreya", Times, Times New Roman, Georgia, serif;
  margin-bottom: .5em; }

p, b, strong, em, italic, ul, ol, li, a, u, del, span, blockquote {
  font-size: inherit; }

p {
  margin: 0 0 1em; }
  p a {
    font-weight: 700; }
    p a:hover {
      opacity: 0.7; }

b, strong {
  font-weight: 700;
  font-weight: bold; }

em, italic {
  font-style: italic; }

u {
  text-decoration: underline; }

del {
  text-decoration: line-through; }

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  a:hover {
    text-decoration: underline;
    color: inherit; }

img {
  max-width: 100%; }

ul, ol {
  margin: -0.5em 0 1.3em;
  display: block; }

ul li {
  list-style-type: "»";
  margin-left: 1.25em;
  padding-left: 0.5em; }

ol li {
  list-style-type: decimal;
  margin-left: 1.5em;
  padding-left: 0.25em; }

blockquote {
  font-size: 1.5em;
  font-style: italic;
  margin: 1em 0 2em 2em; }

figure {
  margin-bottom: 1em; }

figcaption {
  font-size: 0.8em;
  font-weight: 700; }

article {
  padding-top: 1.5em; }

.artigo-single, .artigo-page {
  font-family: "Alegreya", Times, Times New Roman, Georgia, serif; }

.artigo-conteudo p:first-of-type:first-letter {
  float: left;
  font-size: 4em;
  margin-right: 0.1em;
  margin-top: 0;
  -webikit-margin-top: 0;
  line-height: 0.9;
  -webkit-line-height: 0.9; }
@-moz-document url-prefix() {
  .artigo-conteudo p:first-of-type:first-letter {
    font-size: 4.1em;
    margin-top: 0.1em;
    line-height: 1; } }
blockquote p:first-letter, .wp-caption p:first-letter {
  float: none !important;
  font-size: 1em !important;
  margin: auto !important; }

.wp-caption {
  font-size: 0.8em;
  margin-bottom: 0.5em; }

.row {
  width: 100%;
  padding: 2em;
  margin: 0;
  position: relative; }

.bloco {
  display: block;
  padding: 1em; }

.limpa-float {
  float: none; }

.centralizado {
  margin: 0px auto; }

.fundo-preto {
  background: #000; }

.fundo-branco {
  background: #fff; }

.fundo-cinza {
  background: #eee; }

.texto-branco {
  color: #fff; }

.texto-preto {
  color: #000; }

.texto-amarelo {
  color: #FEE10A; }

.serif {
  font-family: "Alegreya", Times, Times New Roman, Georgia, serif; }

.sans-serif {
  font-family: "Roboto", Helvetica, "Helvetica Neue", sans-serif; }

.main-wrapper {
  position: relative;
  left: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.calvero-logo {
  width: 150px;
  position: fixed;
  display: inline-block;
  position: fixed;
  left: 0;
  z-index: 9999;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.nav-menu {
  font-size: 1em;
  padding: 0.75em 1.5em; }
  .nav-menu header {
    line-height: 1.5;
    margin-bottom: 2em; }

.nav-container {
  font-size: 0.8em;
  width: 250px;
  height: 100vh;
  position: fixed;
  margin-top: 0px;
  right: -250px;
  z-index: 999;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .nav-container ul {
    display: block; }
    .nav-container ul li {
      opacity: 0.5;
      line-height: 1.8;
      margin-left: 0;
      list-style-type: none; }
      .nav-container ul li a {
        color: inherit;
        text-decoration: none; }
      .nav-container ul li:hover {
        opacity: 1; }

.btn-nav-container {
  width: 4em;
  height: 4em;
  display: block;
  position: absolute;
  right: 250px;
  z-index: 1;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.btn-nav {
  margin: 0px auto;
  width: 30%;
  height: 2px;
  display: block;
  background: #fff;
  position: relative;
  top: 50%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .btn-nav:before {
    content: "";
    display: block;
    position: relative;
    background: #fff;
    height: 2px;
    top: -250%; }
  .btn-nav:after {
    content: " ";
    display: block;
    position: relative;
    background: #fff;
    height: 2px;
    top: 150%; }

.turn-x {
  background: transparent !important; }
  .turn-x:before {
    top: -200%;
    transform: rotate(45deg);
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    transition: all 0.6s ease; }
  .turn-x:after {
    top: -300%;
    transform: rotate(-45deg);
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    transition: all 0.6s ease; }

.calvero-menu {
  margin: 0px;
  padding: 0.8em 1.5em;
  width: 250px;
  height: 100vh;
  position: absolute;
  z-index: 999;
  overflow: auto;
  color: #fff; }
  .calvero-menu .menu-header {
    font-size: 1.25em;
    margin-bottom: 2em; }
  .calvero-menu section {
    padding: 0em 0 2em; }
    .calvero-menu section:after {
      content: "";
      clear: both;
      margin-top: 2em;
      width: 1em;
      height: 0.15em;
      display: block;
      background: #fff; }
    .calvero-menu section:last-child:after {
      display: none; }
  .calvero-menu input {
    border: 0;
    background-color: #151515;
    padding: .5em;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .calvero-menu input[type='text'] {
      background: url("../images/icons/pesquisar-opac-br.png") no-repeat right center/15px;
      border-bottom: 1px solid transparent; }
      .calvero-menu input[type='text']:focus {
        border-bottom: 1px solid #656565;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease; }

.post-home-destaque {
  height: 80vh;
  background: transparent url() no-repeat top center/cover; }

.bloco-info-destaque {
  position: absolute;
  display: inline-block;
  max-width: 600px;
  padding: 1em 2.5em;
  bottom: 10%;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .bloco-info-destaque a {
    text-decoration: none; }
  .bloco-info-destaque .categoria {
    font-size: .8em;
    font-weight: 700;
    text-transform: uppercase; }
  .bloco-info-destaque .titulo {
    font-weight: 700;
    display: inline;
    border-bottom: 1px solid transparent;
    line-height: 1; }
  .bloco-info-destaque .autor {
    font-size: .8em;
    font-weight: 700;
    margin-top: 0.5em;
    text-transform: uppercase; }
  .bloco-info-destaque:hover {
    bottom: 10.5%; }
    .bloco-info-destaque:hover .titulo {
      border-bottom: 1px solid #fff; }

.bloco-secundario {
  min-height: 13em;
  margin-bottom: 0;
  padding: 1em;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .bloco-secundario a {
    text-decoration: none;
    font-weight: inherit; }
  .bloco-secundario .categoria {
    font-size: 0.8em;
    font-weight: 700;
    text-transform: uppercase; }
  .bloco-secundario .titulo {
    font-size: 1.5em; }
  .bloco-secundario:after {
    content: "";
    width: 1em;
    height: 3px;
    background: #000;
    position: absolute; }
  .bloco-secundario:hover {
    background-color: #FEE10A; }
    .bloco-secundario:hover .titulo {
      text-decoration: underline; }

.artigo-single .imagem-destaque, .artigo-page .imagem-destaque {
  height: 60vh;
  background: transparent url() no-repeat top center/cover; }
.artigo-single .em-page, .artigo-page .em-page {
  height: 21vh; }
.artigo-single .categoria-single, .artigo-page .categoria-single {
  font-size: 0.875em;
  text-transform: uppercase;
  font-weight: 700; }
.artigo-single .autor-single, .artigo-page .autor-single {
  font-weight: 700; }

.autor-single-footer-container {
  font-size: inherit;
  overflow: hidden;
  margin: 1.5em 0 1em 0;
  padding: 1em 0 2em;
  border-bottom: 1px solid #eee; }
  .autor-single-footer-container img {
    width: 100%;
    height: auto; }
  .autor-single-footer-container .pic {
    display: block;
    width: 5em;
    height: 100%;
    float: left;
    margin-right: 1em;
    overflow: hidden; }
  .autor-single-footer-container .info {
    width: 80%;
    height: 100%;
    display: block;
    float: left; }
  .autor-single-footer-container .nome {
    font: italic 700 1.25em/1 "Alegreya", Times, Times New Roman, Georgia, serif; }
  .autor-single-footer-container .bio {
    font: italic 400 1em/1.8 "Alegreya", Times, Times New Roman, Georgia, serif; }

.comentarios {
  margin-bottom: 1.5em; }
  .comentarios h3 {
    font-style: italic; }

#nav-below, #nav-above {
  margin: 0;
  padding: 1em; }
  #nav-below a, #nav-above a {
    font-family: "Alegreya", Times, Times New Roman, Georgia, serif;
    font-weight: 700; }
  #nav-below a:hover, #nav-above a:hover {
    opacity: 0.8; }

.arquivo-wrapper, .busca-wrapper {
  padding-top: 6.5em;
  min-height: 80vh; }
  .arquivo-wrapper #s, .busca-wrapper #s {
    border: 0;
    border-bottom: 1px solid #eee;
    display: block;
    padding: 0.5em 1em;
    background: transparent url(../images/icons/pesquisar-pr.png) no-repeat center right/15px; }

.page-footer {
  font-family: "Alegreya", Times, Times New Roman, Georgia, serif;
  font-size: 0.8em; }
  .page-footer .footer-logo, .page-footer .footer-pages, .page-footer .footer-cats {
    float: left;
    margin-left: 0; }
    .page-footer .footer-logo ul, .page-footer .footer-pages ul, .page-footer .footer-cats ul {
      margin-top: 0; }
      .page-footer .footer-logo ul li, .page-footer .footer-pages ul li, .page-footer .footer-cats ul li {
        margin-left: 1em; }

.info-404 {
  padding: 2em;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .info-404 p {
    font-family: "Alegreya", Times, Times New Roman, Georgia, serif;
    font-style: italic; }
  .info-404 input {
    border: 0;
    padding: .2em 1em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    background-color: #000;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .info-404 input:focus {
      border-bottom: 1px solid #fff;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease; }
  .info-404 input[type=text] {
    background: transparent url(../images/icons/pesquisar-opac-br.png) no-repeat center right/20px; }

.appear-from-right {
  right: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease; }

.push-to-left {
  left: -250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.throw-inside-nav {
  right: 0em;
  z-index: 9999;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease; }

/*# sourceMappingURL=style.css.map */
