// Folha de estilos com os elementos básicos da página

// Medida referencial: body --> 14px/1.5

// Elementos básicos = Framework

// Faixas de conteúdo
.row {width:100%; padding: 2em; margin:0 !important; position:relative;}

// Blocos de conteúdo
.bloco {display: block; position:relative;}

// Limpar Floats
.limpa-float {float:none;}

// Alinhar blocos ao centro
.centralizado {margin: 0px auto;}

// Cores de Fundos
.fundo-preto {background: $preto;}
.fundo-branco {background: $branco;}
.fundo-cinza {background: $cinza-claro;}

// Cores de texto
.texto-branco {color:$branco}
.texto-preto {color:$preto}
.texto-amarelo {color: $amarelo-calvero}

// Famíias de fontes
.serif {font-family: $serif;}
.sans-serif {font-family: $sans-serif;}

// ----------------------------------


// Principal container de conteúdo
.main-wrapper {
    position:relative;
    left:0; // Possibilita a animação quando o menu é aberto
    
    // Mixin Transition
    @include transition(all, 0.2s, ease);
}

// Definição da div do logo em posição fixa
.calvero-logo {width:150px;position:fixed; display: inline-block; position: fixed; left: 0; z-index:9999; @include transition( all, 0.3s, ease)}

// Definições para o menu de navegação
.nav-menu {
    font-size: 1em;
    padding:0.75em 1.5em;
    
    header {
        line-height: 1.5;
        
        margin-bottom: 2em;
    }
}

// Definições dos elementos que compoem a nav
.nav-container {
    font-size: 0.8em;
    
    width:250px;
    height:100vh;
    position:fixed;
    margin-top:0px;
    right: -250px;
    
    @include transition(all, 0.3s, ease);
    
    ul {
        display: block;
        
        li {
            opacity: 0.5;
            line-height: 1.8;
            margin-left:0;
            list-style-type: none;
            a {
                color:inherit;
                text-decoration: none;
            }
            
            &:hover{
                opacity:1;
            }
        }
    }
} // .nav-container

// Container do botão do menu
.btn-nav-container {
    width:4em;
    height:4em;
    
    display: block;
    position: absolute;
    right:250px;
    z-index:1;
    
    cursor: pointer;
    
    @include transition(all, 0.5s, ease);
}

.btn-nav {
    margin:0px auto;
    width:30%;
    height:2px;
    display: block;
    background: $branco;
    position:relative;
    top:45%;
    
    &:before {
        content:"";
        display: block;
        position: relative;
        background: $branco;
        height: 2px;
        top:-260%;
    }
    
    &:after{
        content:" ";
        display: block;
        position: relative;
        background: $branco;
        height: 2px;
        top:160%;
    }
    
    // Mixin Transition
    @include transition(all, 0.3s, ease);
}

.turn-x {
    background: transparent !important;
    // Before
    &:before {top:-200%; transform: rotate(45deg); @include transition(all, .6s, ease);}
    // After
    &:after{top:-300%; transform: rotate(-45deg); @include transition(all, .6s, ease);}
}

.calvero-menu {
    // Definições principais
    margin: 0px;
    padding: 0.5em 1.5em;
    width:250px;
    height:100vh;
    position:absolute;
    z-index: 999;
    
    overflow: auto;
    color:$branco;
    
    .menu-header {
        font-size: 1.25em;
        margin-bottom:2em;
    }

    
    section{
        padding: 0em 0 2em;
        
        &:after{
            content:"";
            clear: both;
            margin-top:2em;
            width:1em;
            height:0.15em;
            display: block;
            background: $branco;
        }
        
        &:last-child{
            &:after {
                display: none;
            }
        }
        
    }
    
    input {
        border:0;
        background-color: #151515;
        padding:.5em;
        
        @include transition(all, 0.3s, ease);
        
        &[type='text']{
            background: url('../images/icons/pesquisar-opac-br.png') no-repeat right center / 15px;
            border-bottom: 1px solid transparent;
            &:focus {
                border-bottom: 1px solid #656565;
                @include transition(all, 0.3s, ease);
            }
        }
        
        @include transition(all, 0.3s, ease);
    }
}
    

// Div com imagem inteira

.post-home-destaque {
    height:80vh;
    background: transparent url() no-repeat top center / cover;
}

.bloco-info-destaque {
    position:absolute;
    display: inline-block;
    max-width:600px;
    padding:1em 2.5em;
    bottom:10%;
    
    a {
        text-decoration:none;
    }
    
    .categoria {
        font-size: .8em;
        font-weight: 700;
        text-transform: uppercase;
    }
    
    .titulo {
        font-weight: 700;
        display: inline;
        border-bottom: 1px solid transparent;
        line-height: 1;
    }
    .autor {
        font-size: .8em;
        font-weight: 700;
        margin-top:0.5em;
        text-transform: uppercase;
    }
    
    &:hover{
        bottom:10.5%;
        
        .titulo {
            border-bottom:1px solid $branco;
        }   
    }
    
    // Mixin transform
    @include transition(all, 0.2s, ease);
}

// Bloco secundario da home
.bloco-secundario {
    margin-bottom:0;
    padding: 1em;
    
    a{text-decoration: none;}
    
    // Elementos internos
    .categoria {font-size: 0.8em; font-weight: 700; text-transform: uppercase;}
    .titulo {font-size: 1.5em}
    .autor {}
    
    &:after{content:""; width:1em; height:3px; background:$preto;position:absolute;}
    
    &:hover{
        background-color:$amarelo-calvero;
        text-decoration: underline;
    }
    
    // Mixxxin Transition
    @include transition(all, 0.2s, ease);
}

// Artigos single.php
.artigo-single {
    
    .imagem-destaque {height:60vh; background: transparent url() no-repeat top center / cover }
    
    .categoria-single {
        font-size: 0.875em;
        text-transform: uppercase; 
        font-weight: 700
    }
    
    .autor-single {font-weight: 700;}
}

.autor-single-footer-container {
    font-size:inherit;
    overflow: hidden;
    margin: 2em 0;
    padding: 1em 0;
    border-top: 1px solid $cinza-claro;
    
    img {width:100%; height:auto;}
    
    .pic {display: block; width:5em;height:100%;float:left; margin-right: 1em;overflow:hidden}
    .info {width:80%;height:100%;display: block;float:left;}
    .nome {font: italic 700 1.25em/1 $serif;}
    .bio {font: italic 400 1em/1.8 $serif}
}

.comentarios {
    h3 {font-style: italic}

}

// Estilos para footer
.page-footer{
    font-family: $serif;
    font-size: 0.8em;
    
    list-style-type: "»";
    
    .footer-logo, .footer-pages, .footer-cats {
        float:left;
        
        ul {
            li{margin-left: 0;}
        }
    }
}

// Estilos para 404
.info-404 {
    padding:2em;
    
    h1{}
    p{font-family: $serif;font-style: italic;}
    
    input{
        border:0; 
        padding:.2em 1em; 
        border-bottom:1px solid rgba(255,255,255,0.4); 
        background-color:$preto;    
        
        &:focus{border-bottom:1px solid $branco; @include transition(all, 0.3s, ease)}
        
        @include transition(all, 0.3s, ease);
    }
    
    input[type=text]{background:transparent url(../images/icons/pesquisar-opac-br.png) no-repeat center right / 20px;}
    
    @include transition(all, 0.3s, ease);
}

// Classes referentes à funçao de abertura do menu
.appear-from-right {right:0; @include transition(all, 0.4s, ease);}
.push-to-left {left: -250px; @include transition(all, 0.5s, ease);}
.throw-inside-nav {right: 0em; z-index:9999; @include transition(all, 0.2s, ease);}