// Definições tipográficas do tema Calvero

// 1 Elementos de cabeçalho
// 2 Elementos de corpo de texto

body{
    font: normal 400 19px/1.8 $sans-serif;
}

// 1 Elementos de cabeçalho
h1, h2, h3, h4, h5, h6 {display: block;}

h1 {font: normal 700 2em/1 $sans-serif; margin-bottom: .5em;}
h2 {font: normal 700 1.5em/1 $sans-serif; margin-bottom: .5em;}
h3 {font: normal 700 1.25em/1.5 $sans-serif; margin-bottom: .5em;}
h4 {font: italic 700 1.25em/1.8 $serif; margin-bottom: .5em;}

// 2 Elementos de corpo texto

p, b, strong, em, italic, ul, ol, li, a, u, del, span, blockquote {font-size: inherit;}

p {margin:0 0 1em;
    a{ font-weight: 700;
        &:hover{opacity:0.7;}
    }
}

b, strong {font-weight: 700; font-weight: bold;}
em, italic {font-style: italic;}
u {text-decoration: underline;}
del {text-decoration: line-through;}

a {color:inherit; text-decoration:none;
    &:hover{text-decoration:underline; color:inherit;}
    
    @include transition(all,0.2s,ease);
}

img {max-width:100%;}

ul, ol {
    margin: -0.5em 0 1.3em;
    display: block;
}

ul li {list-style-type: "»"; margin-left: 1.25em; padding-left: 0.5em;}

ol li {list-style-type: decimal; margin-left:1.5em; padding-left:0.25em;}

blockquote {
    font-size: 1.5em;
    font-style: italic;
    margin: 1em 0 2em 2em;
}

figure {margin-bottom:1em;}
figcaption {font-size:0.8em;font-weight: 700}

article {padding-top:1.5em;}

// DROP CAPS em artigos
.artigo-single, .artigo-page {font-family: $serif;}

.artigo-conteudo{
    p:first-of-type{&:first-letter{
        float:left;    
        font-size: 4em;
        margin-right: 0.1em;
        
        margin-top: 0;
        -webikit-margin-top:0;
        line-height: 0.9;
        -webkit-line-height: 0.9;
        
        @-moz-document url-prefix(){
            font-size:4.1em;
            margin-top: 0.1em;
            line-height: 1;
        }
        
}}}
blockquote p:first-letter, .wp-caption p:first-letter {float:none !important;font-size: 1em !important; margin: auto !important;}


// Neste espaço entram algumas gambiarras que sobrepoem estilos do próprio wordpress
.wp-caption {font-size: 0.8em; margin-bottom: 0.5em;}



