// Lista de variáveis utilizadas no tema

// Cores
$preto: #000;
$branco: #fff;
$cinza-claro: #eee;
$amarelo-calvero: #FEE10A;

// Tipografia
$sans-serif: 'Roboto', Helvetica, 'Helvetica Neue', sans-serif;
$serif: 'Alegreya', Times, Times New Roman, Georgia, serif;